<%
# Copy from SonarQube 4.3.3 _duplications_source_snippet.html.erb:
#   https://github.com/SonarSource/sonarqube/blob/branch-4.3/sonar-server/src/main/webapp/WEB-INF/app/views/resource/_duplications_source_snippet.html.erb
%>

<div class="<%= 'expanded' if to_line == from_line + lines_count -1 -%>">
  <%
     if external
       parent_project = resource.project
  %>
    <p>
      <%= qualifier_icon(parent_project) -%>
      <%= link_to_resource(parent_project, parent_project.path_name, {:dashboard => true}) -%>
      &nbsp;&nbsp;
      <%= qualifier_icon(resource) -%>
      <%=
       link_to(h(resource.name(true)), { :controller => "/dashboard",
                                         :action => "index",
                                         :id => resource.id,
                                         :display_title => true,
                                         :bline => from_line,
                                         :eline => from_line + lines_count -1,
                                       }, :popup => ['resource-' + resource.key, 'height=900,width=1250,scrollbars=1,resizable=1'])
      %>
      <span id="duplLoading-<%= group_index -%>"></span>
    </p>
  <%
     else
  %>
    <p>
      <%= qualifier_icon(resource) -%>
       <%=
              link_to(h(resource.name(true)), { :controller => "/dashboard",
                                                :action => "index",
                                                :id => resource.id,
                                                :display_title => true,
                                                :bline => from_line,
                                                :eline => from_line + lines_count -1,
                                              }, :popup => ['resource-' + resource.key, 'height=900,width=1250,scrollbars=1,resizable=1'])
             %>
      <span id="duplLoading-<%= group_index -%>"></span>
    </p>
  <% end %>

  <%= snapshot_html_source(resource.last_snapshot, {:line_range => from_line..to_line}) -%>

  <% if lines_count > ResourceHelper::DUPLICATION_SNIPPET_DEFAULT_NB_OF_LINES %>
    <p class="small">
      <%
         if to_line < from_line + lines_count
           link_text = message('duplications.expand')
           %>
           <script>$j('#source-<%= group_index -%>').removeClass('expanded');</script>
           <%
           included_to_line = from_line + lines_count
         else
           link_text = message('duplications.collapse')
           included_to_line = from_line + ResourceHelper::DUPLICATION_SNIPPET_DEFAULT_NB_OF_LINES - 1
           %>
           <script>$j('#source-<%= group_index -%>').addClass('expanded');</script>
           <%
         end
      %>
        <a onclick="
        $j('#expanding<%= group_index -%>').addClass('loading');
          $j.ajax({
            url:'<%= url_for(:action => :show_duplication_snippet, :params => {:id => resource.id, :original_resource_id => original_resource.id, :from_line => from_line, :to_line => included_to_line, :lines_count => lines_count, :group_index => group_index}) -%>',
            type:'post',
            success:function(response){$j('#source-<%= group_index -%>').html(response);},
            complete:function(response){$j('#expanding-<%= group_index -%>').removeClass('loading');}});
          return false;"
            href="#">
            <%= link_text -%></a>
      <span id="expanding-<%= group_index -%>"></span>
    </p>
  <% end %>
</div>