<% if (@sourcemeter_qualifiers::METHOD_QUALIFIERS.include? @resource.qualifier) || (@sourcemeter_qualifiers::CLASS_QUALIFIERS.include? @resource.qualifier) %>
<link rel="stylesheet" type="text/css" href=<%= "#{url_for_static(:plugin => 'SourceMeterGUI', :path => 'css/metrics.css')}" %>>

  <div id="metrics_tab_header1" class="tab_header sm_tab_header">
  <table><tbody>
  <tr>
      <td class="col">
        <%  tmp=[]
            tmp<<{:title => 'Size', :metrics => [ Metric.by_key('LOC'), Metric.by_key('LLOC'), Metric.by_key('NUMPAR'), Metric.by_key('NOS') ]} if @sourcemeter_qualifiers::METHOD_QUALIFIERS.include? @resource.qualifier
            tmp<<{:title => 'Size', :metrics => [
                 Metric.by_key('LOC'),
                 Metric.by_key('LLOC'),
                 Metric.by_key('NLA'),
                 Metric.by_key('NLM'),
                 Metric.by_key('NLPA'),
                 Metric.by_key('NLPM'),
                 Metric.by_key('NOS'),
                 Metric.by_key('TLOC'),
                 Metric.by_key('TLLOC'),
                 Metric.by_key('TNOS') ]} if @sourcemeter_qualifiers::CLASS_QUALIFIERS.include? @resource.qualifier 
        %>
        <%= metrics_header_column_by_list(tmp, false, @sourcemeter_qualifiers::METHOD_QUALIFIERS, @sourcemeter_qualifiers::CLASS_QUALIFIERS) %>
      </td>
      <td class="col">
        <%  tmp=[]
            tmp<<{:title => 'Documentation', :metrics => [ Metric.by_key('CD'), Metric.by_key('CLOC'), Metric.by_key('DLOC') ]} if @sourcemeter_qualifiers::METHOD_QUALIFIERS.include? @resource.qualifier
            tmp<<{:title => 'Complexity', :metrics => [
                 Metric.by_key('HVOL'),
                 Metric.by_key('McCC'),
                 Metric.by_key('MISM'),
                 Metric.by_key('NLE') ]} if @sourcemeter_qualifiers::METHOD_QUALIFIERS.include? @resource.qualifier
            tmp<<{:title => 'Documentation', :metrics => [ Metric.by_key('AD'), Metric.by_key('CD') ]} if @sourcemeter_qualifiers::CLASS_QUALIFIERS.include? @resource.qualifier
            tmp<<{:title => 'Complexity', :metrics => [ Metric.by_key('NLE'), Metric.by_key('WMC') ]} if @sourcemeter_qualifiers::CLASS_QUALIFIERS.include? @resource.qualifier
            tmp<<{:title => 'Coupling', :metrics => [ Metric.by_key('CBO'), Metric.by_key('RFC') ]} if @sourcemeter_qualifiers::CLASS_QUALIFIERS.include? @resource.qualifier
        %>
        <%= metrics_header_column_by_list(tmp, false, @sourcemeter_qualifiers::METHOD_QUALIFIERS, @sourcemeter_qualifiers::CLASS_QUALIFIERS) %>
      </td>
      <td class="col">
        <%  tmp=[]
            tmp<<{:title => 'Code Duplication', :metrics => [ Metric.by_key('CCO'), Metric.by_key('CI'), Metric.by_key('CLLC') ]}
            tmp<<{:title => 'Coupling', :metrics => [ Metric.by_key('NII'), Metric.by_key('NOI') ]} if @sourcemeter_qualifiers::METHOD_QUALIFIERS.include? @resource.qualifier
            tmp<<{:title => 'Inheritance', :metrics => [ Metric.by_key('DIT'), Metric.by_key('NOC') ]} if @sourcemeter_qualifiers::CLASS_QUALIFIERS.include? @resource.qualifier
            tmp<<{:title => 'Cohesion', :metrics => [ Metric.by_key('LCOM5') ]} if @sourcemeter_qualifiers::CLASS_QUALIFIERS.include? @resource.qualifier
        %>
        <%= metrics_header_column_by_list(tmp, false, @sourcemeter_qualifiers::METHOD_QUALIFIERS, @sourcemeter_qualifiers::CLASS_QUALIFIERS) %>
      </td>
      <td class="col">
        <%  tmp=[]
            ruleMetrics = Array.new
            ruleMetrics.push(Metric.by_key('WarningBlocker'), Metric.by_key('WarningCritical'), Metric.by_key('WarningMajor'), Metric.by_key('WarningMinor'), Metric.by_key('WarningInfo'))
            tmp<<{:title => 'Rule Priority', :metrics => ruleMetrics, :hasHelp => false }
            #tmp<<{:title => 'Ruleset', :metrics => [ Metric.by_key('Basic Rules'), Metric.by_key('Optimization Rules') ], :hasHelp => false, :hide_key => true } if @sourcemeter_qualifiers::CLASS_QUALIFIERS.include? @resource.qualifier
        %>
        <%= metrics_header_column_by_list(tmp, true, @sourcemeter_qualifiers::METHOD_QUALIFIERS, @sourcemeter_qualifiers::CLASS_QUALIFIERS) %>
        <%= draw_maintainability() %>
      </td>
  </tr>
  </tbody>
  </table>
  </div>

  <div id="metrics_tab_header2" class="tab_header sm_tab_header" style="display: none;">
  <table><tbody>
  <tr>
      <td class="col">
        <%= metrics_header_column_by_domain([{:title => 'Size', :domain => 'SM:Size'}], false, @sourcemeter_qualifiers::METHOD_QUALIFIERS, @sourcemeter_qualifiers::CLASS_QUALIFIERS) %>
      </td>
      <td class="col">
        <%  tmp=[]
            tmp<<{:title => 'Documentation', :domain => 'SM:Documentation'}
            tmp<<{:title => 'Complexity', :domain => 'SM:Complexity'}
            tmp<<{:title => 'Coupling', :domain => 'SM:Coupling'}
            tmp<<{:title => 'Cohesion', :domain => 'SM:Cohesion'} unless @sourcemeter_qualifiers::METHOD_QUALIFIERS.include? @resource.qualifier %>
        <%= metrics_header_column_by_domain(tmp, false, @sourcemeter_qualifiers::METHOD_QUALIFIERS, @sourcemeter_qualifiers::CLASS_QUALIFIERS) %>
      </td>
      <td class="col">
        <%  tmp=[]
            tmp<<{:title => 'Code Duplication', :domain => 'SM:Clone'} %>
        <%= metrics_header_column_by_domain(tmp, false, @sourcemeter_qualifiers::METHOD_QUALIFIERS, @sourcemeter_qualifiers::CLASS_QUALIFIERS) %>
        <%  ruleMetrics = Array.new
            ruleMetrics.push(Metric.by_key('WarningBlocker'), Metric.by_key('WarningCritical'), Metric.by_key('WarningMajor'), Metric.by_key('WarningMinor'), Metric.by_key('WarningInfo'))
            tmp=[]
            tmp<<{:title => 'Rule Priority', :metrics => ruleMetrics, :hasHelp => false } %>
        <%= metrics_header_column_by_list(tmp, true, @sourcemeter_qualifiers::METHOD_QUALIFIERS, @sourcemeter_qualifiers::CLASS_QUALIFIERS) %>
        <%  tmp=[]
            tmp<<{:title => 'Inheritance', :domain => 'SM:Inheritance'} unless @sourcemeter_qualifiers::METHOD_QUALIFIERS.include? @resource.qualifier %>
        <%= metrics_header_column_by_domain(tmp, false, @sourcemeter_qualifiers::METHOD_QUALIFIERS, @sourcemeter_qualifiers::CLASS_QUALIFIERS) %>
        <%= draw_maintainability() if @sourcemeter_qualifiers::METHOD_QUALIFIERS.include? @resource.qualifier %>
      </td>
        <td class="col">
          <%= metrics_header_column_by_domain([{:title => 'Ruleset', :domain => 'SM:Rulesets', :hasHelp => false, :hide_key => true}], false, @sourcemeter_qualifiers::METHOD_QUALIFIERS, @sourcemeter_qualifiers::CLASS_QUALIFIERS) %>
          <%= draw_maintainability() if @sourcemeter_qualifiers::CLASS_QUALIFIERS.include? @resource.qualifier%>
      </td>
  </tr>
  </tbody>
  </table>

  </div>
<%end%>

<script>
  //$j("#expand_collapse_link").click(function () {
  $j(".sourcemeter-metrics-header").click(function () {
    $j("#metrics_tab_header1").slideToggle("slow");
    $j("#metrics_tab_header2").slideToggle("slow");

    if($j("#sourcemeter-metrics-collapse").html() == ' - Expand') {
      $j('#sourcemeter-metrics-collapse').html(' - Collapse');
    } else {
      $j('#sourcemeter-metrics-collapse').html(' - Expand');
    }
 });
</script>